/iamge/
/script/node_modules/
/script/.env
.env
/midjourney/

/script/dalle.js
/script/dalle.py
/script/config.js
/script/chatgpt.js
/script/chatgpt.py
/script/bimg.js
/script/mid.js
/script/midjourney.js
/script/temp
/script/test.js
/script/config.py
.DS_Store
/script/__pycache__/
/video/my-video/node_modules

/video/my-video/.vscode
